.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-content-bg-color);
    z-index: 9999;
  }
  
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--app-content-items-bg-color);
    border-bottom-color: var(--bg-blue);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }