.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 12px;
    max-width: 350px;
    margin: 0 auto;
    /* background-color: #f0f2f5; */
}

.login-form {
    background-color: var(--app-content-bg-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form__title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-form__group {
    margin-bottom: 1rem;
}

.login-form__label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-form__input {
    width: 100%;
    padding: 0.75rem;
    border-radius: var(--app-border-radius);
    background-color: var(--app-content-items-bg-color);
    font-size: 1rem;
    border: none;
    color: var(--text-color-primary);
}

.login-form__input:focus {
    outline: none;
    border-color: none;
    box-shadow: none;
}

.login-form__button {
    color: var(--text-color-primary);
    width: 100%;
    padding: 0.75rem;
    background-color: var(--btn-bg-color-second);
    border: none;
    border-radius: var(--app-border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* .login-form__button:hover {
    background-color: var(--btn-bg-color-hover);
} */

.login-form__button:disabled {
    background-color: var(--btn-bg-color-disabled);
    cursor: not-allowed;
}

.login-form__error-message {
    background-color: var(--bg-red);
    color: var(--text-color-primary);
    padding: 0.75rem;
    border-radius: var(--app-border-radius);
    margin-bottom: 1rem;
    text-align: center;
}

.login-form__loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}