.check-list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    margin: 10px 0;
    /* border: 1px solid #ddd; */
    border-radius: var(--app-border-radius);
    background-color: var(--app-content-items-bg-color);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    color: var(--text-color-primary);
}

.check-list__item-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.check-list__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    text-align: left;
    font-weight: bold;
    font-size: 18px
}

.check-list__button-container {
    display: flex;
    gap: 5px;
}

.check-list__button {
    width: fit-content;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--btn-bg-color-disabled);
    transition: transform 0.2s, background-color 0.3s;
}

.check-list__button:active,
.check-list__button:focus {
    outline: none;
}

.check-list__button:hover {
    transform: scale(1.05);
}

.check-list__button.ok {
    background-color: #4CAF50;
}

.check-list__button.problem {
    background-color: var(--btn-bg-color-error);
}
.check-list__button.solution {
    background-color: var(--btn-bg-color-primary);
}

.check-list__textarea {
    width: 100%;
    padding: 10px;
    color: var(--text-color-primary);
    /* border: 1px solid #ddd; */
    border: none;
    background-color: var(--app-content-bg-color);
    border-radius: 5px;
    resize: none;
    /* margin-top: 40px; */
}

.check-list__textarea::placeholder {
    color: var(--text-color-second);
}

.check-list__textarea:focus {
    outline: none;
}