.user-management {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.user-management-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.add-user-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.add-user-form__input {
    background-color: var(--app-content-items-bg-color);
}

.add-user-form input,
.add-user-form select {
    flex: 1;
    padding: 10px;
    /* border: 1px solid var(--text-color-second); */
    border: none;
    border-radius: 4px;
    background-color: var(--app-content-items-bg-color);
    color: var(--text-color-primary);
}

.add-user-form input:focus,
.add-user-form select:focus {
    outline: none;
}

.add-user-form button {
    padding: 10px 20px;
    background-color: var(--btn-bg-color-success);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.users-table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
    border-radius: var(--app-border-radius);
    background-color: var(--app-content-items-bg-color);
    border: none;
}


.users-table th:first-child {
    border-top-left-radius: var(--app-border-radius);
}

.users-table th:last-child {
    border-top-right-radius: var(--app-border-radius);
}

.users-table tr:last-child td:first-child {
    border-bottom-left-radius: var(--app-border-radius);
}

.users-table tr:last-child td:last-child {
    border-bottom-right-radius: var(--app-border-radius);
}

.users-table th,
.users-table td {
    /* border: 2px solid var(--app-content-bg-color); */
    padding: 12px;
    text-align: left;
}

.users-table th {
    background-color: var(--app-content-items-bg-color);
    font-weight: bold;
    
}

.delete-button {
    background-color: var(--bg-red);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: var(--bg-red);
}

@media screen and (max-width: 600px) {
    .user-management {
        padding: 10px;
    }

    .users-table th,
    .users-table td {
        padding: 8px;
        font-size: 14px;
    }

    .add-user-form {
        flex-direction: column;
    }

    .add-user-form input,
    .add-user-form select,
    .add-user-form button {
        width: 100%;
    }
}