.morning-check-list__title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.morning-check-list__subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.morning-check-list {
    max-width: 500px;
    margin: 0 auto;
}